@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');
$blue: #58BFF6;

.authBody {
  background-color: #dcdcdc;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authContents {
  width: 80vw;
  height: 90vh;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include sp {
    flex-direction: column;
  }
  @include tab {
    flex-direction: column;
  }
}

.authLeft {
  width: 55vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authRight {
  width: 45vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include sp {
    padding-bottom: 150px;
  }
  @include tab {
    padding-bottom: 150px;
  }

}

.authTitles {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 5rem;
  @include sp {
    padding-top: 20px;
  }
  @include tab {
    padding-top: 20px;
  }
}

.authMainTitle {
  font-size: 4rem;
  font-weight: bold;
  padding-right: 1.5rem;
}

.authSubTitle {
  font-size: 2rem;
  font-weight: bold;
}

.by {
  padding-right: 0.5rem;
}

.authGif {
  height: 30rem;
  width: 50rem;
  background-color: $blue;
  border-radius: 5rem;
  margin-bottom: 5rem;
  @include sp {
    display: none;
  }
  @include tab {
    display: none;
  }
}

.authPlease {
  @include sp {
    display: none;
  }
  @include tab {
    display: none;
  }
}

.logIn, .signUp {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 5rem;
}

.authForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authLabelMail, .authLabelPassword {
  width: 30rem;
  display: block;
  text-align: left;
  padding: 0 0 0.5rem 1rem;
}

.authInputMail, .authInputPassword {
  width: 30rem;
  border: none;
  outline: none;
  padding: 1rem 1rem;
  border-radius: 2rem;
  background: darken(#f9f9f9,5%);
  color: darken(#f9f9f9, 80%);
}

.authInputMail {
  margin-bottom: 2rem;
}

.authInputPassword {
  margin-bottom: 0.5rem;
}

.authInner {
  width: 30rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.authSubmit {
  width: 30rem;
  background: $blue;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 2rem;
  height: 4rem;
  outline: none;
  margin-bottom: 2rem;
  &:hover {
    color: $blue;
    background-color: #fff;
    border: 0.1rem solid $blue;
    transition: 0.5s;
  }
}

.if {
  text-align: center;
  display: inline;
  margin-bottom: 2rem;
  padding-right: 1rem;
}

.authTo {
  color: $blue;
  &:hover {
    color: #696969
  }
}

.pwLength {
  margin-right: 1.5rem;
  text-align: right;
}