.deleteBtns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.allD {
  width: 15rem;
  height: 2.5rem;
  margin: 0 1rem;
  outline: none;
  border: none;
  border-radius: 1rem;
  background-color: #dcdcdc;
  box-shadow: 0.1rem 0.2rem #808080;
  &:hover {
    color: white;
    background-color: #ff0000;
    transition: 0.2s;
  }
  &:active {
    box-shadow: none;
    position: relative;
    top: 0.1rem;
  }
}

