.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  @include sp {
    margin-bottom: 1.5rem;
  }
}

.filter {
  width: 6.5rem;
  height: 2.5rem;
  margin: 0 0.3rem;
  outline: none;
  border: none;
  border-radius: 1rem;
  background-color: #dcdcdc;
}

.isActive {
  color: white;
  background-color: #dda0dd;
}