form {
  width: 50rem;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input, textarea {
  display: inline-block;
  border: none;
  margin: 5px 0;
  padding: 5px 1rem;
  border-radius: 3px;
  background: darken(#f9f9f9, 10%);
  color: darken(#f9f9f9, 80%);
}

.addBtn {
  background: #1abc9c;
  color: #fff;
  border: none;
  border-radius: 3px;
  height: 30px;
  &:disabled {
    background: #a9a9a9;
  }
}
