.formAll {
  width: 50rem;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include tab {
    width: 50vw;
    max-width: 50rem;
  }
  @include sp {
    width: 50vw;
    min-width: 20rem;
    margin-bottom: 1.5rem;
  }
}

.formTask, .formNote {
  display: inline-block;
  border: none;
  margin-bottom: 1rem ;
  padding-left: 1rem;
  height: 3rem;
  border-radius: 0.5rem;
  background: darken(#f9f9f9, 10%);
  color: darken(#f9f9f9, 80%);
}

.formAddBtn {
  background: #1abc9c;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  height: 3rem;
  &:disabled {
    background: #a9a9a9;
  }
}

.topInner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logOutBtn {
  position: absolute;
  right: 0;
}