.itemContents {
  display: flex;
  flex-direction: column;
  width: 60rem; 
  margin-bottom: 1rem; 
  padding: 0 1rem;
  border: 0.2rem solid #7761ED;
  border-radius: 1rem;
  @include tab {
    width: 90vw;
    max-width: 60rem;
  }
  @include sp {
    width: 90vw;
    margin-bottom: 0.5rem;
  }
}

.itemOrange {
  border-color: #ffa500;
}

.itemInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.itemEditingTask, .itemEditingNote {
  width: 45rem;
  display: inline-block;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background: darken(#f9f9f9, 10%);
  color: darken(#f9f9f9, 80%);
}

.itemTask {
  padding-left: 0.8rem;
  font-weight: bold;
}

.itemBtns {
  display: flex;
  align-items: center;
}

.itemBtn {
  display: inline-block;
  width: 3.5rem;
  height: 2.5rem;
  margin-right: 0.3rem;
}

.itemEditBtn {
  color: #0000ff;
}

.itemDoneBtn {
  color: #008000;
}

.itemDeleteBtn {
  color: #ff0000;
  margin: 0;
}

.itemNote {
  padding: 0.5rem 0 0.5rem 0.8rem;
}

.itemDone {
  text-decoration: line-through;
  color : #696969;
}