.itemInner {
  width: 500px;
  padding: 3px;
  margin-bottom: 5px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:nth-child(2n) {
    background-color: #f5f5f5;
  }
}

.btn {
  width: 30px;
}

.edit {
  color: blue;
}

.done {
  color: green;
}

.delete {
  color: red;
}
