.itemContents {
  display: flex;
  flex-direction: column;
  width: 60rem;
  margin-bottom: 10px; 
  padding: 0 1rem;
  border: 2px solid #7761ED;
  border-radius: 10px;
}

.orange {
  border-color: #ffa500;
}

.itemInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  padding: 5px 0.5rem 5px 0;
}

.task {
  padding-left: 0.8rem;
  font-weight: bold;
}

.through {
  text-decoration: line-through;
}

.note {
  padding: 5px 0 5px 0.8rem;
}

.btns {
  display: flex;
  align-items: center;
}

.btn {
  display: inline-block;
  width: 3.5rem;
  height: 25px;
  margin-right: 0.3rem;
}

.editBtn {
  color: blue;
}

.doneBtn {
  color: green;
}

.deleteBtn {
  color: red;
  margin: 0;
}
