.itemAll {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-bottom: 10px; 
  padding: 0 10px;
  border: 2px solid #7761ED;
  border-radius: 10px;
  &:nth-child(2n) {
    background-color: #f5f5f5;
  }
}

.itemInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid;
  padding: 5px 5px 5px 0;
}

.task {
  padding-left: 8px;
  font-weight: bold;
}

.memo {
  padding: 5px 0 5px 8px;
}

.btns {
  display: flex;
  align-items: center;
}

.btn {
  display: inline-block;
  width: 35px;
  height: 25px;
  margin-right: 3px;
}

.edit {
  color: blue;
}

.done {
  color: green;
}

.delete {
  color: red;
  margin: 0;
}
