.itemContents {
  display: flex;
  flex-direction: column;
  width: 60rem; 
  margin-bottom: 1rem; 
  padding: 0 1rem;
  border: 0.2rem solid #7761ED;
  border-radius: 1rem;
  @include tab {
    width: 90vw;
    max-width: 60rem;
  }
  @include sp {
    width: 90vw;
    margin-bottom: 0.5rem;
  }
}

.orange {
  border-color: #ffa500;
}

.itemInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1rem solid;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.task {
  padding-left: 0.8rem;
  font-weight: bold;
}

.through {
  text-decoration: line-through;
}

.note {
  padding: 0.5rem 0 0.5rem 0.8rem;
}

.btns {
  display: flex;
  align-items: center;
}

.btn {
  display: inline-block;
  width: 3.5rem;
  height: 2.5rem;
  margin-right: 0.3rem;
}

.editBtn {
  color: blue;
}

.doneBtn {
  color: green;
}

.deleteBtn {
  color: red;
  margin: 0;
}
