// common
html {
  font-size: 62.5%;
  // 10px
}

body {
  font-size: 15px;
}

// responsive
@mixin sp {
  @media screen and (max-width: 600px) {
    @content
  };
};

@mixin tab {
  @media screen and (min-width: 601px) and (max-width: 1099px) {
    @content
  };
};

@mixin pc {
  @media screen and (min-width: 1100px) {
    @content
  };
};